/* Reset some Redmine styles */

#query_form_content { padding: 0; border: none; }
#main-menu { bottom: auto; }
#main-menu li { float: none; }
#main-menu li a { font-weight:normal; background: none; color: #222222; text-decoration: none; }
#main-menu li a:hover { background: none; color: #222222; text-decoration: none; }