/* Reset some Redmine styles */

.tabular p { height: auto; }
#query_form_content { padding: 0; border: none; }
#account { float:none; }
#top-menu { padding: 0; }
#top-menu a { margin-right: 0px; }
#main-menu { bottom: auto; }
#main-menu li { float: none; }
#main-menu li a { font-weight:normal; background: none; color: #222222; text-decoration: none; }
#main-menu li a:hover { background: none; color: #222222; text-decoration: none; }
ul.projects ul {border: none; }
/* Reset Questions */
div.question { background: none; border: none; margin-bottom: 15px; padding: 0;}