<% if @project %>
<div class="new-issue button-large">
  <a href="#TB_inline?inlineId=issue-form-wrap&amp;height=510&amp;width=735" title="Open a new issue" class="thickbox">Open a New Issue</a>
</div>
<% end %>
