<% if @project %>
<div class="new-issue button-large">
  <%= link_to("Open a New Issue",
              url_for(
                      params.merge({
                                     :anchor => 'TB_inline',
                                     :inlineId=>'issue-form-wrap',
                                     :height => '510',
                                     :width => '735'})),
              :title => "Open a New Issue",
              :class => 'thickbox') %>
</div>
<% end %>
