<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><%=h html_title %></title>
<meta name="description" content="<%= Redmine::Info.app_name %>" />
<meta name="keywords" content="issue,bug,tracker" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<%= stylesheet_link_tag 'application', :media => 'all' %>
<%= stylesheet_link_tag 'redmine-reset', :media => 'all', :plugin => 'redmine_shane_and_peter_design' %>
<%= stylesheet_link_tag 'reset', :media => 'all', :plugin => 'redmine_shane_and_peter_design' %>
<%= stylesheet_link_tag 'main', :media => 'all', :plugin => 'redmine_shane_and_peter_design' %>
<%= stylesheet_link_tag 'thickbox', :media => 'all', :plugin => 'redmine_shane_and_peter_design' %>
<!--[if lte IE 6]><%= stylesheet_link_tag 'ie6', :media => 'all', :plugin => 'redmine_shane_and_peter_design' %><![endif]-->
<!--[if lte IE 7]><%= stylesheet_link_tag 'ie7', :media => 'all', :plugin => 'redmine_shane_and_peter_design' %><![endif]-->
<!--[if gte IE 8]><![endif]-->

<%= javascript_include_tag :defaults %>
<%= stylesheet_link_tag 'jstoolbar' %>
<%= heads_for_wiki_formatter %>

<%= javascript_include_tag 'jquery.1.3.2.min.js', :plugin => 'redmine_shane_and_peter_design' %>
<%= javascript_include_tag 'jquery.hoverIntent.minified.js', :plugin => 'redmine_shane_and_peter_design' %>
<%= javascript_include_tag 'thickbox.min.js', :plugin => 'redmine_shane_and_peter_design' %>
<%= javascript_include_tag 'common.js', :plugin => 'redmine_shane_and_peter_design' %>
<!--[if lte IE 6]>
    <%= javascript_include_tag 'DD_belatedPNG.min', :plugin => 'redmine_shane_and_peter_design' %>
	<script type="text/javascript" charset="utf-8">
		// IE6 transparent PNG support
		DD_belatedPNG.fix('#account .drop-down a, a.search');
	</script>
<![endif]-->
<%= call_hook :view_layouts_base_html_head %>
<!-- page specific tags -->
<%= yield :header_tags -%>
</head>
<body>
<div id="wrapper">
  <div id="top-menu">
    <div id="account">
        <%= render_menu :account_menu -%>
    </div>
  </div>
      
  <h1 class="title"><%= page_header_title %></h1>
    
  <div id="main-menu">
    <%= render_main_menu(@project) %>
    <!-- Sidebar -->
    <div id="">        
      <%= yield :sidebar %>
      <%= call_hook :view_layouts_base_sidebar %>
    </div>
  </div>

  <div class="" id="content">
    <%= render_flash_messages %>
    <%= yield %>
    <%= call_hook :view_layouts_base_content %>
    <div style="clear:both;"></div>
  </div>

  <div id="ajax-indicator" style="display:none;"><span><%= l(:label_loading) %></span></div>
</div>
<%= call_hook :view_layouts_base_body_bottom %>
</body>
</html>
